<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <footer id="footer">
        <div class="content-box">
            <div class="guide">
                <nav>
                    <li>라이트모드</li>
                </nav>
                <nav class="license">
                    <a href="">서비스 이용약관</a>
                    |
                    <a href="">개인정보 보호정책</a>
                    |
                    <a href="">청소년 보호정책</a>
                </nav>
                <section class="license">
                    Copyright
                    <span class="bold">©침하하</span>
                    All rights reserved.</li>
                </section>
            </div>
        </div>
    </footer>
</th:block>
</html>