<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="mypageHeaderFragment">
    <div id="mypage-grid">
        <div class="mypage-item"><a href="mypageForm.html" th:href="@{|/mypage|}">회원 정보 변경</a></div>
        <div class="mypage-item"><a href="mywriteForm.html" th:href="@{|/mypage/post|}">내가 쓴 글</a></div>
        <div class="mypage-item"><a href="mywriteForm.html" th:href="@{|/mypage/comment|}">내가 쓴 댓글</a></div>
        <div class="mypage-item"><a href="mywriteForm.html" th:href="@{|/mypage/likePost|}">좋아요 한 글</a></div>
        <div class="mypage-item"><a href="mywriteForm.html" th:href="@{|/mypage/likeComment|}">좋아요 한 댓글</a></div>
        <div class="mypage-item"><a href="">스크랩 한 글</a></div>
        <div class="mypage-item"><a href="">차단한 사용자</a></div>
    </div>
</th:block>
</html>