<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">
<th:block layout:fragment="content">
    <main id="main">
        <div class="content-box">
            <section class="youtube">
                <div class="chimtube">
                    <h2 class="youtubeHead">
                        <img src="./images/youtube_logo.png" alt="youbube">
                        <a href="https://www.youtube.com/@ChimChakMan_Official/featured">최신 침투부</a>
                    </h2>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?si=pvbESpiymIjb0g-W&amp;list=UUUj6rrhMTR9pipbAWBAMvUQ"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            title="YouTube video player" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="chimtube">
                    <h2 class="youtubeHead">
                        <img src="./images/youtube_logo.png" alt="youbube">
                        <a href="https://www.youtube.com/@ChimChakMan_Data/featured">원본 박물관</a>
                    </h2>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?si=DoyrDaXqbEpJAC6L&amp;list=UUewitUbsXnyjvJjGgxa0IYw"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            title="YouTube video player" frameborder="0" allowfullscreen></iframe>
                </div>
            </section>
            <h2>침하하</h2>
            <section th:each="board : ${boards}">
                <a href="postForm.html" th:href="@{|/board/chimhaha/${board.seq}|}">
                    <div class="img">
                        <i class="fa-regular fa-file-lines fa-3x" th:if="${board.path eq null}"></i>
                        <img class="thumbnail" th:src="@{${board.path}}" th:unless="${board.path eq null}">
                    </div>
                    <div class="cont">
                        <div class="txt-title">
                            <span class="txtCategory" th:text="${board.boardName}"></span>
                            <span class="txtName" th:text="${board.txtName}"></span>
                        </div>
                        <div class="txt-etc">
                            <span class="nick" th:text="${board.insId}"></span>
                            <span class="dot">·</span>
                            <span class="txtTime" th:text="${board.insDt}"></span>
                            <span class="dot">·</span>
                            <span class="view" th:text="${board.view}"></span>
                            <span class="dot">·</span>
                            <span class="point" th:text="${board.point}"></span>
                        </div>
                    </div>
                </a>
<!--                <table class="table">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>seq</th>-->
<!--                        <th>boardSub</th>-->
<!--                        <th>category</th>-->
<!--                        <th>txtName</th>-->
<!--                        <th>comment</th>-->
<!--                        <th>tag</th>-->
<!--                        <th>insId</th>-->
<!--                        <th>insDt</th>-->
<!--                        <th>uptId</th>-->
<!--                        <th>uptDt</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr th:each="item : ${items}">-->
<!--                        <td><a href="" th:text="${item.seq}"></a></td>-->
<!--                        <td><a href="" th:text="${item.boardSub}"></a></td>-->
<!--                        <td><a href="" th:text="${item.category}"></a></td>-->
<!--                        <td><a href="" th:text="${item.txtName}"></a></td>-->
<!--                        <td><a href="" th:text="${item.comment}"></a></td>-->
<!--                        <td><a href="" th:text="${item.tag}"></a></td>-->
<!--                        <td><a href="" th:text="${item.insId}"></a></td>-->
<!--                        <td><a href="" th:text="${item.insDt}"></a></td>-->
<!--                        <td><a href="" th:text="${item.uptId}"></a></td>-->
<!--                        <td><a href="" th:text="${item.uptDt}"></a></td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
            </section>

            <nav>
                <div id="number">
                    <a class="none_page" href="home.html" th:href="@{/(page=${board.page1})}" th:text="${board.page1}" th:if="${board.page1} != ${board.currentPage}"></a>
                    <a class="page" th:text="${board.page1}" th:unless="${board.page1} != ${board.currentPage}"></a>

                    <a class="none_page" href="home.html" th:href="@{/(page=${board.page2})}" th:text="${board.page2}" th:if="${board.page2} != ${board.currentPage}"></a>
                    <a class="page" th:text="${board.page2}" th:unless="${board.page2} != ${board.currentPage}"></a>

                    <a class="none_page" href="home.html" th:href="@{/(page=${board.page3})}" th:text="${board.page3}" th:if="${board.page3} != ${board.currentPage}"></a>
                    <a class="page" th:text="${board.page3}" th:unless="${board.page3} != ${board.currentPage}"></a>

                    <a class="none_page" href="home.html" th:href="@{/(page=${board.page4})}" th:text="${board.page4}" th:if="${board.page4} != ${board.currentPage}"></a>
                    <a class="page" th:text="${board.page4}" th:unless="${board.page4} != ${board.currentPage}"></a>

                    <a class="none_page" href="home.html" th:href="@{/(page=${board.page5})}" th:text="${board.page5}" th:if="${board.page5} != ${board.currentPage}"></a>
                    <a class="page" th:text="${board.page5}" th:unless="${board.page5} != ${board.currentPage}"></a>
                </div>
                <div id="next">
                    <a href="home.html" th:href="@{/(page=${board.page5} + 1)}">다음</a>
                </div>
            </nav>

            <div class="search-form">
                <div class="search">
                    <form action="/search" th:action="@{|/search|}" th:object="${board}" method="get">
                        <select class="bot-box" th:field="*{searchType}">
                            <option value="title">제목</option>
                            <option value="titleAndContent">제목 + 내용</option>
                            <option value="nickname">글쓴이</option>
                        </select>
                        <input class="bot-box" th:field="*{searchKeyword}" type="text">
                        <button class="bot-box">검색</button>
                    </form>
                </div>
            </div>
            <section id="write">
                <a href="addForm.html" th:href="@{/add}" th:unless="${session.member eq null}">글쓰기</a>
            </section>
        </div>
    </main>
</th:block>
</html>