<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">
<th:block layout:fragment="content">
    <main id="mywrite">
        <div class="content-box">
            <th:block th:replace="common/fragments/mypageHeader :: mypageHeaderFragment"></th:block>

            <h2 class="h2" th:text="${board.mypageTitle}"></h2>
            <section th:each="boardList : ${boards}">
                <form th:action="@{/mypageCancelBlock}" method="post">
                    <div class="write-div">
                        <div class="write-txtName-div">
                            <a th:href="'/board/all/' + ${boardList.seq}" th:text="${boardList.txtName}"></a>
                        </div>
                        <div style="display:none">
                            <p th:text="${boardList.commentSeq}"></p>
                        </div>
                        <div class="write-id-div" th:if="${board.mypageTitle ne '차단한 사용자'}">
                            <p th:text="${boardList.insId}"></p>
                        </div>
                        <div class="write-indDt-div" th:if="${board.mypageTitle ne '차단한 사용자'}">
                            <p th:text="${boardList.insDt}"></p>
                        </div>
                        <div class="mypage-block-div" th:if="${board.mypageTitle eq '차단한 사용자'}">
                            <input name="blockId" th:value="${boardList.txtName}" type="text" style="display:none">
                            <button class="mypage-block-btn" type="submit">차단 해제</button>
                        </div>
                    </div>
                </form>
                <hr class="hr">
            </section>
        </div>
    </main>
</th:block>
</html>