<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">
<th:block layout:fragment="content">
    <main id="post-main">
        <div class="content-box">
            <div class="post-div">
                <section class="post-head">
                    <div class="post-txt-title bold">
                        <span class="txtCategory post-txtCategory"><a href="" th:text="${board.boardName}"></a></span>
                        <span th:text="'[' + ${board.categoryName} + ']'"></span>
                        <span th:text="${board.txtName}"></span>
                    </div>
                    <div class="nickname" th:style="${board.blockId eq null ? 'display:block' : 'display:none'}">
                        <img th:src="'/images/' + ${board.profileName}" class="board-profile comment-profile"
                             th:if="${board.profileName} ne null">
                        <span th:text="${board.nickName}"></span>
                        <ul>
                            <li><a href="userWriteForm.html" th:href="@{/userPage/{nickName}/post(nickName=${board.nickName})}">게시글 보기</a></li>
                            <li><a href="userWriteForm.html" th:href="@{/userPage/{nickName}/comment(nickName=${board.nickName})}">댓글 보기</a></li>
                        </ul>
                    </div>
                    <div class="nick-state" th:style="${board.blockId eq null ? 'display:block' : 'display:none'}">
                        <span class="dot">·</span>
                        <span th:text="${board.insDt}"></span>
                        <span class="dot">·</span>
                        <span><i class="fa-solid fa-eye post-icon"></i></span>
                        <span th:text="${board.view}"></span>
                        <span class="dot">·</span>
                        <span><i class="fa-regular fa-thumbs-up post-icon"></i></span>
                        <span th:text="${board.point}"></span>
                    </div>
                    <div class="board-state" th:if="${session.member ne null}">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                        <ul>
                            <li th:if="${member.userId} == ${board.insId} or ${member.userType} == 'admin'">
                                <form th:action="@{|/board/${board.titleCode}/${board.seq}/edit|}" method="get">
                                    <button>
                                        <i class="fa-regular fa-edit"></i>
                                        수정
                                    </button>
                                </form>
                            </li>
                            <li>
                                <form th:action="@{|/board/${board.titleCode}/${board.seq}/addBlock|}" method="post"
                                      th:if="${member.userId} != ${board.insId} and ${board.blockId eq null} and ${member.userType} != 'admin'">
                                    <input name="boardId" th:value="${board.insId}" type="text" style="display:none">
                                    <button>
                                        <i class="fa-solid fa-ban"></i>
                                        차단
                                    </button>
                                </form>
                                <form th:action="@{|/board/${board.titleCode}/${board.seq}/cancelBlock|}" method="post"
                                      th:if="${board.blockId ne null}">
                                    <input name="blockId" th:value="${board.blockId}" type="text" style="display:none">
                                    <button>
                                        <i class="fa-solid fa-ban"></i>
                                        차단해제
                                    </button>
                                </form>
                                <form id="delete-board-form" th:action="@{|/board/${board.titleCode}/${board.seq}/delete|}" method="post"
                                      th:if="${member.userId} == ${board.insId} or ${member.userType} == 'admin'">
                                    <button onclick="fnBoardDelete()" type="button">
                                        <i class="fa-regular fa-trash-alt"></i>
                                        삭제
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </section>
                <div class="wide-hr">
                    <hr class="hr">
                </div>
                <section id="post-cont">
                    <script th:inline="javascript">
                        // 게시글 내용
                        const articleObject = [[${board.comment}]];
                        const arr = articleObject.split("<br />");

                        for (var i=0; i<arr.length; i++){

                            // 이미지 포함
                            if (arr[i].substr(0, 4) == "<img") {
                                var start = arr[i].indexOf("src")+5;
                                var end = arr[i].lastIndexOf(".")+4;
                                var files = "http://localhost:8080" + arr[i].substring(start, end);
                                const bgImage = document.createElement("img");
                                bgImage.src = files;
                                bgImage.className = "post-img";
                                document.getElementById("post-cont").appendChild(bgImage);

                                // 이미지 이후 줄바꿈 없이 글이 있을 경우
                                start = arr[i].lastIndexOf("/>") + 2;
                                end = arr[i].length;

                                const tagP = document.createElement('p');
                                tagP.innerHTML = arr[i].substr(start, end);
                                tagP.className = "post-img";
                                document.getElementById("post-cont").appendChild(tagP);
                            } else {
                                const tagP = document.createElement('p');
                                tagP.innerHTML = arr[i];
                                tagP.className = "post-img";
                                document.getElementById("post-cont").appendChild(tagP);
                            }
                        }
                    </script>
                    <div class="tag" th:text="'태그 : ' + ${board.tag}" th:if="${board.blockId eq null} and ${board.tag ne null} and ${board.tag ne ''}"></div>
                </section>
                <section>
<!--                    <div class="post-like" th:if="${board.blockId eq null}">-->
<!--                        <form class="aaa" id="post-form" action="/${board.seq}/like" th:action="@{|/${board.seq}/like|}" method="post">-->
<!--                            <input name="titleCode" th:value="${board.titleCode}" type="text" style="display:none">-->
<!--                            <button class="like" type="submit" th:if="${member.userId} != ${board.insId} and (${session.member eq null} or ${board.cnt eq 0})">-->
<!--                                침하하<br>😂-->
<!--                            </button>-->
<!--                        </form>-->
<!--                        <form class="aaa" action th:action>-->
<!--                            <button class="like" type="button" th:if="${member.userId} == ${board.insId}">-->
<!--                                침하하 불가<br>😐-->
<!--                            </button>-->
<!--                        </form>-->
<!--                        <form class="aaa" action="/${board.seq}/cancel" th:action="@{|/${board.seq}/cancel|}" method="post">-->
<!--                            <input name="titleCode" th:value="${board.titleCode}" type="text" style="display:none">-->
<!--                            <button class="like" type="submit" th:if="${member.userId} != ${board.insId} and ${session.member ne null} and ${board.cnt ne 0}">-->
<!--                                침하하 취소<br>🤣-->
<!--                            </button>-->
<!--                        </form>-->

<!--                        <form class="aaa" action="/${board.seq}/scrapSave" th:action="@{|/${board.seq}/scrapSave|}" method="post">-->
<!--                            <input name="titleCode" th:value="${board.titleCode}" type="text" style="display:none">-->
<!--                            <button class="scrap" type="submit" th:if="${session.member eq null} or ${board.scrapCnt eq 0}">-->
<!--                                스크랩<br>-->
<!--                                <i class="fa-regular fa-bookmark"></i>-->
<!--                            </button>-->
<!--                        </form>-->
<!--                        <form class="aaa" action="/${board.seq}/scrapCancel" th:action="@{|/${board.seq}/scrapCancel|}" method="post">-->
<!--                            <input name="titleCode" th:value="${board.titleCode}" type="text" style="display:none">-->
<!--                            <button class="scrap" type="submit" th:if="${session.member ne null} and ${board.scrapCnt ne 0}">-->
<!--                                스크랩 취소<br>-->
<!--                                <i class="fa-solid fa-bookmark"></i>-->
<!--                            </button>-->
<!--                        </form>-->
<!--                    </div>-->
                    <div class="post-like" th:if="${board.blockId eq null}">
                        <form id="like-scrap-form" action th:action method="post">
                            <input name="titleCode" th:value="${board.titleCode}" type="text" style="display:none">
                            <div class="like-div">
                                <button class="like" type="submit" onclick="fnLike()"
                                        th:if="${member.userId} != ${board.insId} and (${session.member eq null} or ${board.cnt eq 0})">
                                    침하하<br>😂
                                </button>
                                <button class="like" type="button" th:if="${member.userId} == ${board.insId}">
                                    침하하 불가<br>😐
                                </button>
                                <button class="like" type="submit" onclick="fnCancel()"
                                        th:if="${member.userId} != ${board.insId} and ${session.member ne null} and ${board.cnt ne 0}">
                                    침하하 취소<br>🤣
                                </button>
                            </div>
                            <div class="scrap-div">
                                <button type="submit" onclick="fnScrapSave()"
                                        th:if="${session.member eq null} or ${board.scrapCnt eq 0}">
                                    스크랩<br>
                                    <i class="fa-regular fa-bookmark"></i>
                                </button>
                                <button type="submit" onclick="fnScrapCancel()"
                                        th:if="${session.member ne null} and ${board.scrapCnt ne 0}">
                                    스크랩 취소<br>
                                    <i class="fa-solid fa-bookmark"></i>
                                </button>
                            </div>
                        </form>
                        <script>
                            // 침하하
                            function fnLike() {
                                $('#like-scrap-form').attr('action', '/[[${board.seq}]]/like').submit();
                            }

                            // 침하하 취소
                            function fnCancel() {
                                $('#like-scrap-form').attr('action', '/[[${board.seq}]]/cancel').submit();
                            }

                            // 스크랩
                            function fnScrapSave() {
                                $('#like-scrap-form').attr('action', '/[[${board.seq}]]/scrapSave').submit();
                            }

                            // 스크랩 취소
                            function fnScrapCancel() {
                                $('#like-scrap-form').attr('action', '/[[${board.seq}]]/scrapCancel').submit();
                            }
                        </script>
                    </div>
                    <div class="post-list">
                        <div class="left"><button th:onclick="'location.href=\'' + @{${board.beforeSeq}} + '\''" type="button" th:if="${board.beforeSeq ne 0}">&lt;이전 글</button></div>
                        <div class="center"><a th:href="@{|/board/${board.titleCode}|}">목록</a></div>
                        <div class="right"><button th:onclick="'location.href=\'' + @{${board.afterSeq}} + '\''" type="button" th:if="${board.afterSeq ne 0}">다음 글&gt;</button></div>
                    </div>
                </section>

                <h2 class="h2">댓글</h2>
                <section th:each="comment : ${comments}">
                    <div class="comment-all-div">
                        <div class="comment-div">
                            <div class="comment-top" th:style="${comment.blockId eq null ? 'display:flex' : 'display:none'}">
                                <div class="comment-left">
                                    <div>
                                        <span>
                                            <img th:src="'/images/' + ${comment.profileName}" class="comment-profile"
                                                 th:if="${comment.profileName} ne null">
                                        </span>
                                    </div>
                                    <div class="comment-nick-div">
                                        <span class="bold" th:text="${comment.nickName}"></span>
                                        <span class="comment-nick" th:if="${board.insId} == ${comment.userId}">글쓴이</span>
                                        <span class="comment-nick" th:if="${session.member ne null} and ${member.userId} == ${comment.userId}">나</span>
                                        <span class="comment-indDt" th:text="${comment.insDt}"></span>
                                    </div>
                                </div>
                                <div class="comment-right" th:if="${session.member ne null}">
                                    <div>
                                        <button class="comment-re">댓글</button>
                                    </div>
                                    <form action="/${board.seq}/commentLike" th:action="@{|/${board.seq}/commentLike|}" method="post">
                                        <input name="commentSeq" th:value="${comment.seq}" type="text" style="display:none">
                                        <input name="titleCode" th:value="${board.titleCode}" type="text" style="display:none">
                                        <button class="comment-like" type="submit" th:if="${member.userId} != ${comment.userId} and ${comment.cnt eq 0}">침하하😂</button>
                                    </form>
                                    <form action th:action>
                                        <input name="commentSeq" th:value="${comment.seq}" type="text" style="display:none">
                                        <button class="comment-like" type="button" th:if="${member.userId} == ${comment.userId}">침하하 불가😐</button>
                                    </form>
                                    <form action="/${board.seq}/commentCancel" th:action="@{|/${board.seq}/commentCancel|}" method="post">
                                        <input name="commentSeq" th:value="${comment.seq}" type="text" style="display:none">
                                        <input name="titleCode" th:value="${board.titleCode}" type="text" style="display:none">
                                        <button class="comment-like" type="submit" th:if="${member.userId} != ${comment.userId} and ${comment.cnt ne 0}">침하하 취소🤣</button>
                                    </form>

                                    <div th:id="'comment' + ${comment.rownumb}" class="comment-state" th:if="${session.member ne null}" th:onclick="'fnComBox(' + ${comment.rownumb} + ')'">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                        <ul>
                                            <li th:if="${member.userId} == ${comment.userId} or ${member.userType} == 'admin'">
                                                <button class="comment-first-form">
                                                    <i class="fa-regular fa-edit"></i>
                                                    수정
                                                </button>
                                            </li>
                                            <li>
                                                <form th:id="'comment-second-form' + ${comment.rownumb}" th:if="${member.userId} != ${comment.userId} and ${member.userType} != 'admin'">
                                                    <button th:id="'delete-comment-btn' + ${comment.rownumb}">
                                                        <i class="fa-solid fa-ban"></i>
                                                        차단
                                                    </button>
                                                </form>
                                                <form th:id="'comment-second-form' + ${comment.rownumb}"
                                                      th:action="@{|/board/${board.titleCode}/${board.seq}/${comment.seq}/delete|}" method="post"
                                                      th:if="${member.userId} == ${comment.userId} or ${member.userType} == 'admin'">
                                                    <button th:onclick="'fnCommentDelete(' + ${comment.rownumb} + ')'" type="button">
                                                        <i class="fa-regular fa-trash-alt"></i>
                                                        삭제
                                                    </button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <input class="comment-content" th:value="${comment.content}" type="text" readonly
                                   th:class="${comment.profileName} eq null ? 'comment-content comment-content-neimg' : 'comment-content comment-content-img'"
                                   th:if="${comment.blockId eq null}">
                            <input class="comment-content" th:value="${comment.content}" type="text" readonly
                                   th:if="${comment.blockId ne null}">
                            <form class="comment-input-form-re" action="/board/${board.titleCode}/${board.seq}/childComment"
                                  th:action="@{|/board/${board.titleCode}/${board.seq}/childComment|}" method="post">
                                <input name="rownumb" th:value="${comment.rownumb}" type="text" style="display:none">
                                <input name="topSeq" th:value="${comment.topSeq}" type="text" style="display:none">
                                <input name="parentSeq" th:value="${comment.parentSeq}" type="text" style="display:none">
                                <input name="seq" th:value="${comment.seq}" type="text" style="display:none">
                                <input name="orderRow" th:value="${comment.orderRow}" type="text" style="display:none">
                                <input name="lvl" th:value="${comment.lvl}" type="text" style="display:none">
                                <input name="editType" th:value="${comment.editType}" type="text" style="display:none">

                                <div class="comment-textarea-div">
                                    <textarea class="comment-textarea" name="content" placeholder="댓글을 작성해 주세요."></textarea>
                                </div>
                                <div class="comment-btn-div">
                                    <button class="comment-btn" type="submit">등 록</button>
                                </div>
                            </form>
                        </div>
                        <hr class="hr">
                    </div>
                    <script th:inline="javascript">
                        // 대댓글 margin 추가
                        var lvl = [[${comment.lvl}]] - 1;
                        var cnt = [[${comment.rownumb}]] - 1; // class item을 위해 위에서부터 카운트

                        var cls = document.getElementsByClassName('comment-all-div').item(cnt);

                        if ([[${comment.blockId}]] == null) {
                            cls.style.marginLeft = lvl * 20 + 'px';
                        }
                    </script>
                </section>

                <form class="comment-input-form" action="/board/${board.titleCode}/${board.seq}/parentComment"
                      th:action="@{|/board/${board.titleCode}/${board.seq}/parentComment|}" method="post">
                    <div class="comment-textarea-div">
                        <textarea class="comment-textarea" name="content" placeholder="로그인 해주세요." disabled th:if="${session.member eq null}"></textarea>
                        <textarea class="comment-textarea" name="content" placeholder="댓글을 작성해 주세요." th:if="${session.member ne null}"></textarea>
                    </div>
                    <div class="comment-btn-div">
                        <button class="comment-btn" type="submit" disabled th:if="${session.member eq null}">등 록</button>
                        <button class="comment-btn" type="submit" th:if="${session.member ne null}">등 록</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</th:block>
</html>
<script>
    <!-- 게시글 신고/수정/차단/삭제/공유 박스를 브라우저 크기가 변해도 유지 하도록 -->
    const mainRight = document.querySelector('.board-state>ul');
    fnBoardState();
    window.addEventListener('resize', () => {
        fnBoardState();
    });

    function fnBoardState() {
        const target = document.querySelector('.fa-ellipsis-vertical');
        const clientRect = target.getBoundingClientRect(); // DomRect 구하기 (각종 좌표값이 들어있는 객체)
        const relativeLeft = clientRect.left; // Viewport의 시작지점을 기준으로한 상대좌표 Y 값.
        mainRight.style.left = relativeLeft-90 + 'px';
    }
    <!------------------------------------------------------------------->

    <!-- 댓글 신고/수정/차단/삭제/공유 박스를 브라우저 크기가 변해도 유지 하도록 -->
    fnCommentState();
    window.addEventListener('resize', () => {
        fnCommentState();
    });

    function fnCommentState() {
        for(var i=1; i<=document.getElementsByClassName('comment-state').length; i++) {
            var commentRight = document.querySelector('#comment' + i + '>ul');
            const target = document.querySelector('#comment' + i + '> .fa-ellipsis-vertical');
            const clientRect = target.getBoundingClientRect(); // DomRect 구하기 (각종 좌표값이 들어있는 객체)
            const relativeLeft = clientRect.left; // Viewport의 시작지점을 기준으로한 상대좌표 Y 값.
            commentRight.style.left = relativeLeft-90 + 'px';
        }
    }
    <!------------------------------------------------------------------>

    <!-- 닉네임 클릭 시 게시글보기/댓글보기 박스 보이기 -->
    const nick = document.querySelector('.nickname');
    const dropdown = document.querySelector('.nickname>ul');
    var chkDisplay = dropdown.style.display;
    var chkNick = false;

    nick.addEventListener('click', clickNickEvent);
    function clickNickEvent(event) {
        chkNick = true;
        if (chkDisplay == '') {
            dropdown.style.display = 'block';
            dropdown.style.background = 'white';

        } else {
            dropdown.style.display = '';
        }

        // 댓글 상태창 모두 닫기
        for(var i=1; i<=document.getElementsByClassName('comment-state').length; i++) {
            document.querySelector('#comment' + i + '>ul').style.display = '';
        }

        chkDisplay = dropdown.style.display;
    }
    <!--------------------------------------------->

    <!-- 닉네임을 제외한 다른 곳 클릭 시 게시글보기/댓글보기 박스 끄기 -->
    const body = document.querySelector("body");
    body.addEventListener('click', clickBodyEvent);
    function clickBodyEvent(event) {
        if (chkNick == false){
            if (chkDisplay == 'block') {
                dropdown.style.display = '';
            }

            chkDisplay = dropdown.style.display;
        }
        chkNick = false;
    }

    <!-- 게시글 ... 클릭 시 신고/수정/차단/삭제/공유 박스 보이기 -->
    const board = document.querySelector('.board-state');
    const banMenu = document.querySelector('.board-state>ul');
    menuDisplay = banMenu.style.display;
    var chkBoard = false;

    board.addEventListener('click', clickBoardEvent);
    function clickBoardEvent(event) {

        chkBoard = true;
        if (menuDisplay == '') {
            banMenu.style.display = 'block';
            banMenu.style.background = 'white';

        } else {
            banMenu.style.display = '';
        }

        // 댓글 상태창 모두 닫기
        for(var i=1; i<=document.getElementsByClassName('comment-state').length; i++) {
            document.querySelector('#comment' + i + '>ul').style.display = '';
        }

        menuDisplay = banMenu.style.display;
    }
    <!------------------------------------------------------>

    <!-- 댓글 ... 클릭 시 신고/수정/차단/삭제/공유 박스 보이기 -->
    function fnComBox(num) {
        const commentMenu = document.querySelector('#comment' + num + '>ul');
        menuDisplay = commentMenu.style.display;
        chkBoard = true;

        if (menuDisplay == '') {
            commentMenu.style.display = 'block';
            commentMenu.style.background = 'white';
        } else {
            commentMenu.style.display = '';
        }

        // 댓글 상태창 현재꺼 제외하고 닫기
        for(var i=1; i<=document.getElementsByClassName('comment-state').length; i++) {
            if (i != num) document.querySelector('#comment' + i + '>ul').style.display = '';
        }

        // 게시글 상태창 닫기
        document.querySelector('.board-state>ul').style.display = '';

        menuDisplay = commentMenu.style.display;
    }

    <!-- ...을 제외한 다른 곳 클릭 시 신고/수정/차단/삭제/공유 박스 끄기 -->
    body2 = document.querySelector("body");
    body2.addEventListener('click', clickBody2Event);
    function clickBody2Event(event) {
        if (chkBoard == false){
            if (menuDisplay == 'block') {
                banMenu.style.display = '';

                // 댓글 상태창 모두 닫기
                for(var i=1; i<=document.getElementsByClassName('comment-state').length; i++) {
                    document.querySelector('#comment' + i + '>ul').style.display = '';
                }
            }

            menuDisplay = banMenu.style.display;
        }

        chkBoard = false;
    }

    $(document).ready(function(){
        // 댓글 클릭 시 대댓글 박스 열림
        $('.comment-re').each(function(i){
            $(this).click(function(e){
                var cls = document.getElementsByClassName('comment-input-form-re').item(i);
                var chkDisplay = cls.style.display;

                if (chkDisplay == '') {
                    cls.style.display = 'flex';
                } else {
                    cls.style.display = '';
                }
            });

            document.getElementsByName('editType').item(i).value = 'save';
        });

        $('.comment-first-form').each(function(i){
            // 댓글 수정 클릭 시
            $(this).click(function(e){
                console.log(i);
                // 댓글 박스 열림
                var cls = document.getElementsByClassName('comment-input-form-re').item(i);
                var chkDisplay = cls.style.display;

                if (chkDisplay == '') {
                    cls.style.display = 'flex';
                } else {
                    cls.style.display = '';
                }

                // 댓글 내용이 댓글 입력 박스에 들어가도록
                document.getElementsByClassName('comment-textarea').item(i).value =
                    document.getElementsByClassName('comment-content').item(i).value;

                document.getElementsByName('editType').item(i).value = 'update';
            });
        });
    });

    // 게시글 삭제 시
    function fnBoardDelete() {
        if(confirm("게시글을 삭제하시겠습니까?")) {
            document.getElementById('delete-board-form').submit();
        } else {
            return;
        }
    }

    // 댓글 삭제
    function fnCommentDelete(num) {
        if(confirm("댓글을 삭제하시겠습니까?")) {
            document.getElementById('comment-second-form' + num).submit();
        } else {
            return;
        }
    }
</script>