<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}">
<th:block layout:fragment="content">
    <main id="userWrite">
        <div class="content-box">
            <h2 th:text="${board.userPageTitle}"></h2>
            <section th:each="boardList : ${boards}">
                <a th:href="'/board/all/' + ${boardList.seq}">
                    <div class="userWrite-div">
                        <div class="userWrite-txtName-div">
                            <span class="userWrite-txtCategory" th:text="${boardList.boardName}" th:if="${boardList.boardName ne null}"></span>
                            <span><i class="fa-solid fa-file-image" th:if="${boardList.saveFileName ne null} and ${boardList.boardName ne null}"></i></span>
                            <span><i class="fa-regular fa-file-lines" th:if="${boardList.saveFileName eq null} and ${boardList.boardName ne null}"></i></span>
                            <span class="userWrite-txtName" th:text="'[' + ${boardList.categoryName} + ']'" th:if="${boardList.categoryName ne null}"></span>
                            <span class="userWrite-txtName" th:text="${boardList.txtName}"></span>
                        </div>
                        <div class="userWrite-indDt-div">
                            <span th:text="${boardList.insDt}"></span>
                        </div>
                    </div>
                </a>
                <hr class="hr">
            </section>
        </div>
    </main>
</th:block>
</html>